<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--เบสจริง-->
		<!--<add key="conBI" value= "Data Source=192.168.2.31;Initial Catalog=BI;Persist Security Info=True;User ID=axautoimport;Password=8bfw,jvvd"/>-->
		<!--<add key="conAX" value= "Data Source=192.168.2.31;Initial Catalog=AX2012_LIVE;Persist Security Info=True;User ID=axautoimport;Password=8bfw,jvvd"/>-->
		<!--<add key="conSPA" value= "data source=203.150.78.213;initial catalog=DBSparsha;persist security info=True;user id=sa;password=8bfw,jvvd;MultipleActiveResultSets=True"/>-->
		<!--เบสเทส-->
		<add key="conBI" value= "Data Source=192.168.2.31;Initial Catalog=BI_SIM;Persist Security Info=True;User ID=axautoimport;Password=8bfw,jvvd"/>
		<add key="conAX" value= "Data Source=192.168.2.31;Initial Catalog=AX2012_SIM;Persist Security Info=True;User ID=axautoimport;Password=8bfw,jvvd"/>
		<add key="conSPA" value= "data source=203.150.78.213;initial catalog=DB_02_UAT;persist security info=True;user id=sa;password=8bfw,jvvd;MultipleActiveResultSets=True"/>
		<add key="username" value= "veriteapi"/>
		<add key="password" value= "a7496d2f765577b61a43a2f731ca06f6"/>
		<add key="day" value= "10"/>
	</appSettings>
</configuration>
